In [81]:
#split correctly 
#perform statistics on it 
#Link with one tool
#output result

In [82]:
%load_ext autoreload
%autoreload 2
import os
import glob
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
pd.options.display.max_columns = 999
import settings as s

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Guests

## Read in the Guest data

In [83]:
out_files = glob.glob(os.path.join(s.DATA_DIR + 'city/new_york/guests/', '*.csv'))[::-1]
guests = pd.concat((pd.read_csv(f, header = None, delimiter= '==', engine='python') for f in out_files))
guests = guests.rename(columns=guests.iloc[0]).drop(guests.index[0]).reset_index(drop=True)

In [84]:
guests.head(1)

,id,name,city,membershipDate,superhost,verified,description,linkedAccountVerified,schoolInfo,jobInfo,languages,reviewNumber,guideNumber,whishListNumber;;;;;;;;;
0,66056138,Blake,"Lake Forest, Illinois, Stati Uniti",aprile 2016,false,true,Hi! I’m Blake. I’m a really easy going guy who...,"[Documento d'Identità Ufficiale , Selfie , I...",null,null,null,20,0,0;;;;;;;;;

## Clean up the data

#### Trim Spaces

In [85]:
guests = guests.rename(columns=lambda x: x.strip())

#### Remove unnecessary ;

In [86]:
guests = guests.rename(columns={'whishListNumber;;;;;;;;;': 'whishListNumber'})

In [87]:
guests['whishListNumber'] = [i.replace(';', '') if i is not None and type(i) != int else i for i in guests['whishListNumber']]

#### Remove records with null IDs

In [88]:
len(guests[guests['id'] == 'null'])

3630

In [89]:
guests = guests[guests['id'] != 'null']

In [90]:
len(guests)

35784

#### Clear quotes

In [91]:
def clean_quoatations(st):
    return str(st).replace('"','') if st not in [None, '', 'null'] else None

In [92]:
guests['whishListNumber'] = guests['whishListNumber'].apply(clean_quoatations)

In [93]:
guests['id'] = guests['id'].apply(clean_quoatations)

### Cleaned

In [94]:
guests.head(1)

,id,name,city,membershipDate,superhost,verified,description,linkedAccountVerified,schoolInfo,jobInfo,languages,reviewNumber,guideNumber,whishListNumber
0,66056138,Blake,"Lake Forest, Illinois, Stati Uniti",aprile 2016,false,true,Hi! I’m Blake. I’m a really easy going guy who...,"[Documento d'Identità Ufficiale , Selfie , I...",null,null,null,20,0,0

# Read in listings

In [95]:
raw_listings = pd.read_csv(os.path.join(s.DATA_DIR, 'city/new_york/listings.csv'))

/Users/lynraybarends/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (43,61,62,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Listing Information

In [96]:
listings = raw_listings[s.listing_cols]

In [97]:
listings.head(1)

,id,host_id,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,picture_url,street,neighbourhood_cleansed,neighbourhood_group_cleansed,zipcode,market,smart_location,country_code,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2515,2758,Stay at Chez Chic budget room #1,Step into our artistic spacious apartment and ...,-PLEASE BOOK DIRECTLY. NO NEED TO SEND A REQUE...,Step into our artistic spacious apartment and ...,NaN,Please no cooking at night but you can warm up...,Subway 2.3.B.C. at 110th street around the cor...,Guests will have their PRIVATE BATHROOM (NOTE:...,We will have a list of Harlem restaurants and ...,no-smoking/please take off your shoes: cleanin...,https://a0.muscache.com/im/pictures/88569/eebe...,"New York, NY, United States",Harlem,Manhattan,10026,New York,"New York, NY",US,40.799205,-73.953676,t,Apartment,Private room,2,1.0,1.0,2.0,Real Bed,"{""Cable TV"",Internet,Wifi,""Air conditioning"",K...",$59.00,$720.00,"$1,690.00",$0.00,$60.00,2,$39.00,2,21,9,32,47,316,164,92.0,9.0,9.0,10.0,9.0,9.0,9.0,f,f,strict,f,f,3,1.43

### Host Information

In [98]:
hosts = raw_listings[s.host_cols]

In [99]:
hosts = hosts.rename(columns=lambda x: x.replace('host_', ''))

In [100]:
hosts.head(1)

,id,name,since,location,about,response_time,response_rate,is_superhost,picture_url,neighbourhood,listings_count,total_listings_count,verifications,has_profile_pic,identity_verified
0,2758,Mizi,2008-09-06,"New York, New York, United States",loves to host and welcome travelers from arou...,within a few hours,100%,f,https://a0.muscache.com/im/users/2758/profile_...,Harlem,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t

### Unnused Columns

In [101]:
unnused_cols = raw_listings.columns.symmetric_difference(set().union(s.host_cols, s.listing_cols))

In [102]:
unnused_listings = raw_listings[list(unnused_cols)]

In [103]:
unnused_listings.head(1)

,calendar_last_scraped,calendar_updated,city,country,experiences_offered,first_review,has_availability,host_acceptance_rate,host_thumbnail_url,host_url,jurisdiction_names,last_review,last_scraped,license,listing_url,medium_url,neighbourhood,requires_license,scrape_id,square_feet,state,thumbnail_url,xl_picture_url
0,2018-03-04,3 days ago,New York,United States,none,2008-10-13,t,NaN,https://a0.muscache.com/im/users/2758/profile_...,https://www.airbnb.com/users/show/2758,NaN,2018-02-11,2018-03-04,NaN,https://www.airbnb.com/rooms/2515,NaN,Harlem,f,20180303203649,NaN,NY,NaN,NaN

# Reviews

In [104]:
reviews = pd.read_csv(os.path.join(s.DATA_DIR, 'city/new_york/reviews.csv'))

In [105]:
reviews = reviews[s.review_cols]

In [106]:
reviews['recipient_id'] = reviews.join(listings.set_index('id'), on='listing_id')['host_id']

In [107]:
reviews.head(1)

,listing_id,id,date,reviewer_id,comments,recipient_id
0,2515,198,2008-10-13,2603,Stephanie was a wonderful host! Her apartment ...,2758

# Save to DataBase(Mysql)

In [108]:
## SQL connection 
# Connect to SQL 
# Add new Database 
# Push Table onto it 
# Save

In [109]:
import sql
sql.create_database()
sql.create_tables()

Creating table listings: OK
Creating table hosts: OK
Creating table guests: OK
Creating table reviews: OK

In [110]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:airbnb2018@localhost/airbnb', pool_size=100, max_overflow=20, pool_timeout=30)

In [111]:
guests.to_sql(name='guests', con=engine, if_exists='append',index=False, chunksize=100)

In [112]:
hosts.to_sql(name='hosts', con=engine, if_exists='append',index=False, chunksize=100)

In [113]:
listings.to_sql(name='listings', con=engine, if_exists='append',index=False, chunksize=100)

In [114]:
reviews.to_sql(name='reviews', con=engine, if_exists='append',index=False, chunksize=100)

### Reduce to only Manhattan

In [ ]:
manh = listings[listings['neighbourhood_group_cleansed'] == 'Manhattan'].reset_index(drop=True)

In [ ]:
manh.describe()

In [ ]:
manh.head()

In [ ]:
m_list_ids = list(manh['id'])

In [ ]:
man_rev = reviews[reviews['listing_id'].isin(m_list_ids)]

In [ ]:
len(man_rev)

In [ ]:
man_rev.head()

## USEFUL METHODS

In [ ]:
hosts['host_has_profile_pic'].unique()

In [ ]:
pd.io.sql.get_schema(reviews, 'reviews')