In [1]:
%load_ext autoreload
%autoreload 2
import os
import glob
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
pd.options.display.max_columns = 999
#pd.options.display.max_rows = 100
import seaborn as sns 
import indicoio
import sys
sys.path.append("../../Code")
import utils
sys.path.append("../../Tools/python-client")
from __future__ import print_function
import time
from pprint import pprint
import settings as s
import images as im
import cognitive as cog
import files as f
import profiles
import preprocessing as pre

/Users/lynraybarends/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

# Load Country Data

In [2]:
countries = pd.read_csv('../1/country_info.csv', index_col=0)

In [3]:
countries = countries.rename(columns={'languages': 'country_languages'})

In [4]:
countries.head()

,alpha2Code,alpha3Code,country_languages,borders,capital,gini,latlng,name,nativeName,population,region,regionalBlocs,subregion
0,AF,AFG,"['Pashto', 'Uzbek', 'Turkmen']","['IRN', 'PAK', 'TKM', 'UZB', 'TJK', 'CHN']",Kabul,27.8,"[33.0, 65.0]",Afghanistan,افغانستان,27657145,Asia,['SAARC'],Southern Asia
1,AX,ALA,['Swedish'],[],Mariehamn,NaN,"[60.116667, 19.9]",Åland Islands,Åland,28875,Europe,['EU'],Northern Europe
2,AL,ALB,['Albanian'],"['MNE', 'GRC', 'MKD', 'KOS']",Tirana,34.5,"[41.0, 20.0]",Albania,Shqipëria,2886026,Europe,['CEFTA'],Southern Europe
3,DZ,DZA,['Arabic'],"['TUN', 'LBY', 'NER', 'ESH', 'MRT', 'MLI', 'MAR']",Algiers,35.3,"[28.0, 3.0]",Algeria,الجزائر,40400000,Africa,"['AU', 'AL']",Northern Africa
4,AS,ASM,"['English', 'Samoan']",[],Pago Pago,NaN,"[-14.33333333, -170.0]",American Samoa,American Samoa,57100,Oceania,[],Polynesia

In [5]:
country_cols = ['alpha2Code', 'region', 'regionalBlocs', 'subregion', 'latlng', 'borders', 'country_languages']

In [6]:
def choose_match_name(cnty_tbl, cult_table):
    names = []
    corrections = {
        "Russian Federation": "Russia",
        "Sierra Leone": "Sierra Leon",
        "Korea (Republic of)": "South Korea",
        "Iran (Islamic Republic of)": "Iran"
    }
    for _, r in cnty_tbl.iterrows():
        if r['nativeName'] in cult_table['country'].unique():
            names.append(r['nativeName'])
        elif r['name'] in corrections.keys():
            names.append(corrections[r['name']])
        else:
            names.append(r['name'])
    return names

In [7]:
cultural_factors = pd.read_csv('../../Tools/world_cultural_factors.csv')
cultural_factor_cols = ['country', 'selected_for', 'power_distance', 'individualism', 'masculinity', 'uncertainty_avoidance']

In [8]:
countries['matchName'] = choose_match_name(countries, cultural_factors)

In [9]:
cntry_cult_tbl = countries.join(cultural_factors[cultural_factor_cols].set_index('country'), on='matchName').drop_duplicates(subset="alpha2Code", keep="first")

In [10]:
cntry_cult_tbl[~cntry_cult_tbl.power_distance.isnull()].head(2)

,alpha2Code,alpha3Code,country_languages,borders,capital,gini,latlng,name,nativeName,population,region,regionalBlocs,subregion,matchName,selected_for,power_distance,individualism,masculinity,uncertainty_avoidance
10,AR,ARG,"['Spanish', 'Guaraní']","['BOL', 'BRA', 'CHL', 'PRY', 'URY']",Buenos Aires,44.5,"[-34.0, -64.0]",Argentina,Argentina,43590400,Americas,['USAN'],South America,Argentina,addition,49.0,46.0,56.0,86.0
13,AU,AUS,['English'],[],Canberra,30.5,"[-27.0, 133.0]",Australia,Australia,24117360,Oceania,[],Australia and New Zealand,Australia,High individualisim,36.0,90.0,61.0,51.0

# Load Review, Host , Guest Tables

### Listings

In [11]:
listings = pd.read_csv('../2/nr_restrict_listings.csv', index_col=0)
full_listings = listings[listings['room_type'] == 'Entire home/apt']
shared_listings = listings[listings['room_type'] != 'Entire home/apt']

In [12]:
len(listings)

6924

### Guests

In [13]:
# Man guests because we are gaining information about hosts guests - not looking at reviews

In [14]:
guests = pd.read_csv('../2/man_guests.csv', low_memory=False, index_col=0)

In [15]:
guests = guests.join(countries[country_cols].set_index('alpha2Code'), on='ccode')

In [16]:
guests = guests.drop_duplicates(subset="id", keep="last")

In [17]:
len(guests)

181376

In [18]:
guests_cols = ['id', 'ccode', 'region', 'subregion', 'country_languages']

### Hosts

In [19]:
hosts = pd.read_csv('../2/nr_restrict_hosts.csv', index_col=0)
hosts = hosts[~hosts.index.isnull()]

In [20]:
len(hosts)

6924

### Reviews

In [21]:
reviews = pd.read_csv('../2/nr_restrict_reviews.csv', index_col=0)

### Reduce reviews to those where we have both hosts and guests

In [22]:
reviews_match, h_ids, g_ids = utils.reduce_reviews(reviews, hosts, guests)

Total Reviews: 105600
Unique Hosts: 5591
Unique Guests: 96255

In [23]:
results_table = reviews_match[['id', 'date', 'reviewer_id', 'listing_id', 'recipient_id']].reset_index(drop=True)

### Get Trip table

In [24]:
hosts_trip = pd.read_csv('../2/man_hostTrips.csv', index_col=0)

In [36]:
len(hosts_trip.hostId.unique())

3587

In [25]:
host_trip_summary = profiles.summarize_host_table(hosts_trip, countries)

In [30]:
host_trip_summary.head()

,countries_visited,id,regions_visited,sub_regions_visited
0,"{'HU': 2, 'CZ': 1, 'AT': 1}",10001390,{'Europe': 4},"{'Eastern Europe': 3, 'Western Europe': 1}"
1,"{'DE': 1, 'AR': 1, 'MX': 2, 'CA': 1, 'US': 1, ...",1000278,"{'Europe': 1, 'Americas': 5, 'Asia': 1}","{'Western Europe': 1, 'South America': 1, 'Cen..."
2,"{'NL': 1, 'DE': 1, 'US': 4}",10003254,"{'Europe': 2, 'Americas': 4}","{'Western Europe': 2, 'Northern America': 4}"
3,"{'US': 1, 'JE': 1}",10013093,"{'Americas': 1, 'Europe': 1}","{'Northern America': 1, 'Northern Europe': 1}"
4,{'PE': 2},10015933,{'Americas': 2},{'South America': 2}

### Get Guest Review Table

In [31]:
hg_reviews = pd.read_csv('../2/man_hostReviews.csv', low_memory=False, index_col=0)

#### Cleaning up Reviews

#### Getting Count Tables

In [32]:
reviews_per_guest = hg_reviews[['recipient_id', 'total_host_reviews']].astype(int).groupby('recipient_id').mean()

In [33]:
reviews_from_host = hg_reviews[~hg_reviews['reviewer_id'].isnull()][['reviewer_id', 'total_host_reviews']].astype(int).groupby('reviewer_id').count()

## Get information about where Host has visited

In [34]:
import geopy.distance

In [35]:
def get_num_countries(x, htrips):
    if x in set(htrips.id):
        return len(htrips[htrips.id == x]['countries_visited'].keys())
    else:
        return 0

In [37]:
len(results_table)

105600

In [38]:
results_table = results_table.join(host_trip_summary.set_index('id'), on='recipient_id')

In [40]:
results_table['h_min_used'] = [np.sum(list(v.values())) if v not in [None, "NaN", np.nan] else 0 for v in results_table['regions_visited']]

In [41]:
results_table['h_min_cntry'] = [len(v.keys()) if v not in [None, "NaN", np.nan] else 0 for v in results_table['countries_visited']]

In [42]:
results_table['h_min_regions'] = [len(v.keys()) if v not in [None, "NaN", np.nan] else 0 for v in results_table['regions_visited']]

In [43]:
results_table['h_min_subregions'] = [len(v.keys()) if v not in [None, "NaN", np.nan] else 0 for v in results_table['sub_regions_visited']]

In [44]:
results_table = results_table.join(guests[guests_cols].set_index('id'), on='reviewer_id')

In [45]:
results_table['eng_in_guest_clangs'] = [1 if v not in [np.nan, None] and "English" in set(eval(v)) else 0 for v in results_table['country_languages']]

results_table['latlng_dist'] = results_table.latlng.map(lambda x: geopy.distance.vincenty(s.HOSTS_LAT_LNG, tuple(eval(x))).km)

In [46]:
def get_h_visit_g(val, opts):
    if opts in [np.nan, None, "NaN"]:
        return 0
    else:
        if val in opts.keys():
            return 1
        else:
            return 0

In [47]:
results_table['h_visit_g_cntry'] =  [get_h_visit_g(r['ccode'] , r['countries_visited']) for _, r in results_table.iterrows()]

In [48]:
results_table['h_visit_g_region'] =  [get_h_visit_g(r['region'] , r['regions_visited']) for _, r in results_table.iterrows()]

In [49]:
results_table['h_visit_g_sregion'] =  [get_h_visit_g(r['subregion'] , r['sub_regions_visited']) for _, r in results_table.iterrows()]

In [50]:
results_table['same_country'] = results_table.ccode.map(lambda x: 1 if x == s.HOSTS_CCODE else 0)

In [52]:
results_table['same_region'] = results_table.region.map(lambda x: 1 if x == s.HOSTS_REGION else 0)

In [53]:
results_table['same_subregion'] = results_table.subregion.map(lambda x: 1 if x == s.HOSTS_SUBREGION else 0)

In [54]:
results_table =results_table.join(cntry_cult_tbl[['alpha2Code', 'power_distance', 'individualism', 'masculinity', 'uncertainty_avoidance']].set_index('alpha2Code'), on= 'ccode')

In [56]:
results_table[results_table['individualism'].isnull()]

,id,date,reviewer_id,listing_id,recipient_id,countries_visited,regions_visited,sub_regions_visited,h_min_used,h_min_cntry,h_min_regions,h_min_subregions,ccode,region,subregion,country_languages,eng_in_guest_clangs,h_visit_g_cntry,h_visit_g_region,h_visit_g_sregion,same_country,same_region,same_subregion,power_distance,individualism,masculinity,uncertainty_avoidance
37,93343,2010-09-08,207840,5099,7322,NaN,NaN,NaN,0,0,0,0,TT,Americas,Caribbean,['English'],1,0,0,0,0,1,0,NaN,NaN,NaN,NaN
101,645023,2011-10-19,1119625,5172,7386,"{'CO': 1, 'US': 3, 'IT': 3}","{'Americas': 4, 'Europe': 3}","{'South America': 1, 'Northern America': 3, 'S...",7,3,2,3,BA,Europe,Southern Europe,"['Bosnian', 'Croatian', 'Serbian']",0,0,1,1,0,0,0,NaN,NaN,NaN,NaN
140,8211,2009-08-24,32936,5178,8967,NaN,NaN,NaN,0,0,0,0,HN,Americas,Central America,['Spanish'],0,0,0,0,0,1,0,NaN,NaN,NaN,NaN
159,89441,2010-09-03,144158,5178,8967,NaN,NaN,NaN,0,0,0,0,CL,Americas,South America,['Spanish'],0,0,0,0,0,1,0,NaN,NaN,NaN,NaN
168,153602,2010-12-14,182487,5178,8967,NaN,NaN,NaN,0,0,0,0,AW,Americas,Caribbean,"['Dutch', '(Eastern) Punjabi']",0,0,0,0,0,1,0,NaN,NaN,NaN,NaN
170,155771,2010-12-19,11327,5178,8967,NaN,NaN,NaN,0,0,0,0,JE,Europe,Northern Europe,"['English', 'French']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
187,222545,2011-04-11,327452,5178,8967,NaN,NaN,NaN,0,0,0,0,CL,Americas,South America,['Spanish'],0,0,0,0,0,1,0,NaN,NaN,NaN,NaN
190,263586,2011-05-15,299564,5178,8967,NaN,NaN,NaN,0,0,0,0,HR,Europe,Southern Europe,['Croatian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
208,740991,2011-11-24,721906,5178,8967,NaN,NaN,NaN,0,0,0,0,ZA,Africa,Southern Africa,"['Afrikaans', 'English', 'Southern Ndebele', '...",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
295,18234728,2014-08-24,6213375,5178,8967,NaN,NaN,NaN,0,0,0,0,CZ,Europe,Eastern Europe,"['Czech', 'Slovak']",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
321,35774347,2015-06-22,26582800,5178,8967,NaN,NaN,NaN,0,0,0,0,RO,Europe,Eastern Europe,['Romanian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
352,62614846,2016-02-15,49442180,5178,8967,NaN,NaN,NaN,0,0,0,0,CL,Americas,South America,['Spanish'],0,0,0,0,0,1,0,NaN,NaN,NaN,NaN
498,5226705,2013-06-19,492482,5203,7490,NaN,NaN,NaN,0,0,0,0,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
551,21958,2009-12-31,45142,5295,7702,"{'US': 1, 'IL': 2}","{'Americas': 1, 'Asia': 2}","{'Northern America': 1, 'Western Asia': 2}",3,2,2,2,MQ,Americas,Caribbean,['French'],0,0,1,0,0,1,0,NaN,NaN,NaN,NaN
565,18899124,2014-09-02,19564356,5295,7702,"{'US': 1, 'IL': 2}","{'Americas': 1, 'Asia': 2}","{'Northern America': 1, 'Western Asia': 2}",3,2,2,2,LT,Europe,Northern Europe,['Lithuanian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
620,23949775,2014-12-15,22752486,5441,7989,NaN,NaN,NaN,0,0,0,0,HU,Europe,Eastern Europe,['Hungarian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
782,192567355,2017-09-10,92943677,7241,18583,"{'US': 5, 'CL': 2}",{'Americas': 7},"{'Northern America': 5, 'South America': 2}",7,2,1,2,LU,Europe,Western Europe,"['French', 'German', 'Luxembourgish']",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
801,8827,2009-09-02,20340,7322,18946,NaN,NaN,NaN,0,0,0,0,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
821,18278,2009-11-25,37891,7322,18946,NaN,NaN,NaN,0,0,0,0,KE,Africa,Eastern Africa,"['English', 'Swahili']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
863,88606,2010-09-01,68292,7322,18946,NaN,NaN,NaN,0,0,0,0,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
910,2838353,2012-11-08,3624797,7322,18946,NaN,NaN,NaN,0,0,0,0,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
961,97234140,2016-08-26,80113,7322,18946,NaN,NaN,NaN,0,0,0,0,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
963,98119224,2016-08-29,80113,7322,18946,NaN,NaN,NaN,0,0,0,0,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1013,2257014,2012-09-10,3441464,9357,30193,{'US': 1},{'Americas': 1},{'Northern America': 1},1,1,1,1,LU,Europe,Western Europe,"['French', 'German', 'Luxembourgish']",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1023,51310455,2015-10-19,14999600,9357,30193,{'US': 1},{'Americas': 1},{'Northern America': 1},1,1,1,1,CZ,Europe,Eastern Europe,"['Czech', 'Slovak']",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1055,4569318,2013-05-13,5363518,9518,31374,"{'ES': 1, 'PH': 2, 'FR': 1, 'BR': 2, 'US': 1}","{'Europe': 2, 'Asia': 2, 'Americas': 3}","{'Southern Europe': 1, 'South-Eastern Asia': 2...",7,5,3,5,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1059,5261083,2013-06-21,4176105,9518,31374,"{'ES': 1, 'PH': 2, 'FR': 1, 'BR': 2, 'US': 1}","{'Europe': 2, 'Asia': 2, 'Americas': 3}","{'Southern Europe': 1, 'South-Eastern Asia': 2...",7,5,3,5,PR,Americas,Caribbean,"['Spanish', 'English']",1,0,1,0,0,1,0,NaN,NaN,NaN,NaN
1069,8167989,2013-10-19,8086193,9518,31374,"{'ES': 1, 'PH': 2, 'FR': 1, 'BR': 2, 'US': 1}","{'Europe': 2, 'Asia': 2, 'Americas': 3}","{'Southern Europe': 1, 'South-Eastern Asia': 2...",7,5,3,5,HU,Europe,Eastern Europe,['Hungarian'],0,0,1,0,0,0,0,NaN,NaN,NaN,NaN
1078,74224262,2016-05-14,51838421,9518,31374,"{'ES': 1, 'PH': 2, 'FR': 1, 'BR': 2, 'US': 1}","{'Europe': 2, 'Asia': 2, 'Americas': 3}","{'Southern Europe': 1, 'South-Eastern Asia': 2...",7,5,3,5,UA,Europe,Eastern Europe,['Ukrainian'],0,0,1,0,0,0,0,NaN,NaN,NaN,NaN
1086,106882176,2016-10-08,96165537,9518,31374,"{'ES': 1, 'PH': 2, 'FR': 1, 'BR': 2, 'US': 1}","{'Europe': 2, 'Asia': 2, 'Americas': 3}","{'Southern Europe': 1, 'South-Eastern Asia': 2...",7,5,3,5,CZ,Europe,Eastern Europe,"['Czech', 'Slovak']",0,0,1,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104276,226069995,2018-01-08,162120346,20957575,52768036,NaN,NaN,NaN,0,0,0,0,EE,Europe,Northern Europe,['Estonian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104281,266709339,2018-05-20,55256725,20968188,40389938,NaN,NaN,NaN,0,0,0,0,CZ,Europe,Eastern Europe,"['Czech', 'Slovak']",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104359,218922328,2017-12-15,307724,21064170,151718551,"{'DK': 2, 'NO': 1, 'US': 1}","{'Europe': 3, 'Americas': 1}","{'Northern Europe': 3, 'Northern America': 1}",4,3,2,2,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104409,208910033,2017-11-03,119078006,21139869,28027678,NaN,NaN,NaN,0,0,0,0,ZA,Africa,Southern Africa,"['Afrikaans', 'English', 'Southern Ndebele', '...",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104424,254424311,2018-04-16,28416988,21161561,24088306,NaN,NaN,NaN,0,0,0,0,VN,Asia,South-Eastern Asia,['Vietnamese'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104430,246491611,2018-03-25,35709119,21161707,2171676,NaN,NaN,NaN,0,0,0,0,LV,Europe,Northern Europe,['Latvian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104522,219450035,2017-12-17,5568240,21291115,1477335,NaN,NaN,NaN,0,0,0,0,CL,Americas,South America,['Spanish'],0,0,0,0,0,1,0,NaN,NaN,NaN,NaN
104698,268045131,2018-05-23,24873239,21606729,2996673,NaN,NaN,NaN,0,0,0,0,CL,Americas,South America,['Spanish'],0,0,0,0,0,1,0,NaN,NaN,NaN,NaN
104732,218554923,2017-12-13,110776124,21662319,5491909,"{'AE': 1, 'CU': 1, 'FR': 1, 'US': 2, 'PR': 1}","{'Asia': 1, 'Americas': 4, 'Europe': 1}","{'Western Asia': 1, 'Caribbean': 2, 'Western E...",6,5,3,4,CL,Americas,South America,['Spanish'],0,0,1,0,0,1,0,NaN,NaN,NaN,NaN
104762,213699708,2017-11-22,7854351,21698446,32798079,{'US': 2},{'Americas': 2},{'Northern America': 2},2,1,1,1,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104763,218929994,2017-12-15,7854351,21698446,32798079,{'US': 2},{'Americas': 2},{'Northern America': 2},2,1,1,1,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104799,227592118,2018-01-15,59184298,21788885,16330819,{'JE': 1},{'Europe': 1},{'Northern Europe': 1},1,1,1,1,HU,Europe,Eastern Europe,['Hungarian'],0,0,1,0,0,0,0,NaN,NaN,NaN,NaN
104844,261603466,2018-05-06,47551576,21900897,9993331,NaN,NaN,NaN,0,0,0,0,PR,Americas,Caribbean,"['Spanish', 'English']",1,0,0,0,0,1,0,NaN,NaN,NaN,NaN
104904,232307913,2018-02-04,11559978,22168519,161932755,"{'DE': 1, 'US': 1}","{'Europe': 1, 'Americas': 1}","{'Western Europe': 1, 'Northern America': 1}",2,2,2,2,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
104910,261541643,2018-05-06,66194,22212612,135596644,NaN,NaN,NaN,0,0,0,0,VI,Americas,Caribbean,['English'],1,0,0,0,0,1,0,NaN,NaN,NaN,NaN
105105,236530741,2018-02-19,91314696,23237156,128433642,"{'CO': 1, 'US': 5}",{'Americas': 6},"{'South America': 1, 'Northern America': 5}",6,2,1,2,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105119,241055097,2018-03-07,119544795,23387463,24738447,NaN,NaN,NaN,0,0,0,0,PR,Americas,Caribbean,"['Spanish', 'English']",1,0,0,0,0,1,0,NaN,NaN,NaN,NaN
105123,259283789,2018-04-30,92324756,23400251,174475787,NaN,NaN,NaN,0,0,0,0,CZ,Europe,Eastern Europe,"['Czech', 'Slovak']",0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105216,253175428,2018-04-13,13640907,23786683,163371704,NaN,NaN,NaN,0,0,0,0,PR,Americas,Caribbean,"['Spanish', 'English']",1,0,0,0,0,1,0,NaN,NaN,NaN,NaN
105314,268679937,2018-05-25,4011322,24781489,187371280,NaN,NaN,NaN,0,0,0,0,ZA,Africa,Southern Africa,"['Afrikaans', 'English', 'Southern Ndebele', '...",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105338,239648873,2018-03-02,35337790,197753,964482,NaN,NaN,NaN,0,0,0,0,KE,Africa,Eastern Africa,"['English', 'Swahili']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105386,258139855,2018-04-28,8174893,832947,4332585,NaN,NaN,NaN,0,0,0,0,PR,Americas,Caribbean,"['Spanish', 'English']",1,0,0,0,0,1,0,NaN,NaN,NaN,NaN
105447,261012001,2018-05-05,119673578,2303436,11762397,"{'US': 6, 'MX': 1}",{'Americas': 7},"{'Northern America': 6, 'Central America': 1}",7,2,1,2,PR,Americas,Caribbean,"['Spanish', 'English']",1,0,1,0,0,1,0,NaN,NaN,NaN,NaN
105452,176125183,2017-07-30,34553266,2631224,6243156,NaN,NaN,NaN,0,0,0,0,PR,Americas,Caribbean,"['Spanish', 'English']",1,0,0,0,0,1,0,NaN,NaN,NaN,NaN
105462,175324616,2017-07-28,120998180,2977232,15185319,NaN,NaN,NaN,0,0,0,0,KW,Asia,Western Asia,['Arabic'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105487,160137914,2017-06-12,87063275,3775978,19359650,"{'IE': 1, 'DK': 1, 'GB': 1, 'IT': 2, 'US': 1, ...","{'Europe': 6, 'Americas': 1}","{'Northern Europe': 3, 'Southern Europe': 2, '...",7,6,2,4,HU,Europe,Eastern Europe,['Hungarian'],0,0,1,0,0,0,0,NaN,NaN,NaN,NaN
105488,198188827,2017-09-28,150509738,3802538,16677444,NaN,NaN,NaN,0,0,0,0,RS,Europe,Southern Europe,['Serbian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105489,259788631,2018-05-02,153631155,3808323,265278,NaN,NaN,NaN,0,0,0,0,NaN,Africa,Southern Africa,"['English', 'Afrikaans']",1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105521,200218336,2017-10-04,17315947,4558050,23628935,{'CA': 3},{'Americas': 3},{'Northern America': 3},3,1,1,1,HU,Europe,Eastern Europe,['Hungarian'],0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
105522,211986657,2017-11-15,23793726,4558050,23628935,{'CA': 3},{'Americas': 3},{'Northern America': 3},3,1,1,1,CX,Oceania,Australia and New Zealand,['English'],1,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [57]:
h_power = int(cntry_cult_tbl[cntry_cult_tbl.alpha2Code == s.HOSTS_CCODE]['power_distance'])

In [58]:
h_individualism = int(cntry_cult_tbl[cntry_cult_tbl.alpha2Code == s.HOSTS_CCODE]['individualism'])

In [59]:
h_masculinity = int(cntry_cult_tbl[cntry_cult_tbl.alpha2Code == s.HOSTS_CCODE]['masculinity'])
h_uncertainty_avoid = int(cntry_cult_tbl[cntry_cult_tbl.alpha2Code == s.HOSTS_CCODE]['uncertainty_avoidance'])

In [60]:
def get_cultural_difference(tbl, col, hval):
    vals = []
    for _, r in tbl.iterrows():
        if r[col] in [np.nan, None]:
            vals.append(np.nan)
        else:
            vals.append(hval-r[col])
    return vals

In [61]:
results_table['power_difference'] = get_cultural_difference(results_table, 'power_distance', h_power)

In [62]:
results_table['individualism_difference']  = get_cultural_difference(results_table, 'individualism', h_individualism)

In [63]:
results_table['masculanity_difference']  = get_cultural_difference(results_table, 'masculinity', h_masculinity)

In [64]:
results_table['uncertainty_avoid_difference']  = get_cultural_difference(results_table, 'uncertainty_avoidance', h_uncertainty_avoid)

In [65]:
results_table = results_table.drop(["country_languages",'countries_visited', 'regions_visited', 'sub_regions_visited', 'region', 'subregion', 'country_languages', 'power_distance','individualism','masculinity', 'uncertainty_avoidance'], axis=1)

In [66]:
def get_host_guest_countries(src_tbl, host):
    guest_countries = src_tbl[src_tbl['recipient_id'] == host]['ccode'] 
    country_set = {c for c in guest_countries}
    return len(country_set)/len(guest_countries) if len(guest_countries) > 0  else 0

In [67]:
hosts['diverse_guests'] = [get_host_guest_countries(results_table, h) for h in hosts['id']]

In [68]:
results_table = results_table.join(hosts[['id', 'diverse_guests']].set_index('id'), on='recipient_id')

In [69]:
results_table

,id,date,reviewer_id,listing_id,recipient_id,h_min_used,h_min_cntry,h_min_regions,h_min_subregions,ccode,eng_in_guest_clangs,h_visit_g_cntry,h_visit_g_region,h_visit_g_sregion,same_country,same_region,same_subregion,power_difference,individualism_difference,masculanity_difference,uncertainty_avoid_difference,diverse_guests
0,22938,2010-01-03,61471,4989,7118,5,3,2,2,AU,1,0,0,0,0,0,0,4.0,1.0,1.0,-5.0,0.375000
1,234213,2011-04-21,446902,4989,7118,5,3,2,2,AU,1,0,0,0,0,0,0,4.0,1.0,1.0,-5.0,0.375000
2,264416,2011-05-15,540879,4989,7118,5,3,2,2,CA,1,1,1,1,0,1,1,1.0,11.0,10.0,-2.0,0.375000
3,843520,2012-01-06,1357796,4989,7118,5,3,2,2,AU,1,0,0,0,0,0,0,4.0,1.0,1.0,-5.0,0.375000
4,993034,2012-03-12,1757830,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
5,1119849,2012-04-12,2019278,4989,7118,5,3,2,2,NL,0,0,1,0,0,0,0,2.0,11.0,48.0,-7.0,0.375000
6,1129816,2012-04-14,1857814,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
7,1292160,2012-05-16,161198,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
8,1624497,2012-07-03,1810355,4989,7118,5,3,2,2,CA,1,1,1,1,0,1,1,1.0,11.0,10.0,-2.0,0.375000
9,4737934,2013-05-22,6043058,4989,7118,5,3,2,2,SE,0,0,1,0,0,0,0,9.0,20.0,57.0,17.0,0.375000
10,7269563,2013-09-13,5961356,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
11,19393799,2014-09-11,10890072,4989,7118,5,3,2,2,RU,0,0,1,0,0,0,0,-53.0,52.0,26.0,-49.0,0.375000
12,31538251,2015-05-06,31037946,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
13,48226234,2015-09-24,6458814,4989,7118,5,3,2,2,AR,0,0,1,0,0,1,0,-9.0,45.0,6.0,-40.0,0.375000
14,49365679,2015-10-03,11311229,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
15,50671974,2015-10-13,7302639,4989,7118,5,3,2,2,SE,0,0,1,0,0,0,0,9.0,20.0,57.0,17.0,0.375000
16,75322110,2016-05-20,14244953,4989,7118,5,3,2,2,MX,0,0,1,0,0,1,0,-41.0,61.0,-7.0,-36.0,0.375000
17,81843495,2016-06-25,39548323,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
18,92218406,2016-08-08,17009079,4989,7118,5,3,2,2,CA,1,1,1,1,0,1,1,1.0,11.0,10.0,-2.0,0.375000
19,101285898,2016-09-12,84192858,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
20,105655877,2016-10-02,95620388,4989,7118,5,3,2,2,CA,1,1,1,1,0,1,1,1.0,11.0,10.0,-2.0,0.375000
21,107449550,2016-10-10,17217891,4989,7118,5,3,2,2,CA,1,1,1,1,0,1,1,1.0,11.0,10.0,-2.0,0.375000
22,200780623,2017-10-06,146788847,4989,7118,5,3,2,2,IL,0,0,0,0,0,0,0,27.0,37.0,15.0,-35.0,0.375000
23,223697740,2018-01-01,130796551,4989,7118,5,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.375000
24,1683,2009-04-20,13301,5099,7322,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.309091
25,4107,2009-06-16,13219,5099,7322,0,0,0,0,DK,0,0,0,0,0,0,0,22.0,17.0,46.0,23.0,0.309091
26,5120,2009-07-05,24268,5099,7322,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.309091
27,6236,2009-07-27,26179,5099,7322,0,0,0,0,CA,1,0,0,0,0,1,1,1.0,11.0,10.0,-2.0,0.309091
28,7036,2009-08-09,27403,5099,7322,0,0,0,0,GB,1,0,0,0,0,0,0,5.0,2.0,-4.0,11.0,0.309091
29,8053,2009-08-23,22880,5099,7322,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.309091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105570,121133241,2016-12-14,16209689,13914201,324628,0,0,0,0,DE,0,0,0,0,0,0,0,5.0,24.0,-4.0,-19.0,0.800000
105571,122722740,2016-12-25,7858650,14049192,84242582,0,0,0,0,FR,0,0,0,0,0,0,0,-28.0,20.0,19.0,-40.0,0.428571
105572,151943407,2017-05-14,7630870,14053000,2109558,7,3,2,2,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.250000
105573,266166635,2018-05-19,22986360,14105220,48910353,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.290323
105574,232335110,2018-02-04,2351804,14540453,89966556,0,0,0,0,GB,1,0,0,0,0,0,0,5.0,2.0,-4.0,11.0,0.500000
105575,202267697,2017-10-10,2949874,14818363,52526057,3,2,2,2,CA,1,0,1,1,0,1,1,1.0,11.0,10.0,-2.0,0.428571
105576,117204441,2016-12-05,66168894,15430782,14016646,6,3,2,3,GB,1,0,1,1,0,0,0,5.0,2.0,-4.0,11.0,0.250000
105577,140234375,2017-03-28,81088180,15860051,99937669,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.318182
105578,175738162,2017-07-29,135549252,15860051,99937669,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.318182
105579,151550832,2017-05-13,48468035,16011968,101967154,0,0,0,0,FR,0,0,0,0,0,0,0,-28.0,20.0,19.0,-40.0,0.666667
105580,178986457,2017-08-06,108027183,16146708,10332773,0,0,0,0,CO,0,0,0,0,0,1,0,-27.0,78.0,-2.0,-34.0,0.466667
105581,213678223,2017-11-22,44472159,16725615,38599544,2,2,1,2,AU,1,0,0,0,0,0,0,4.0,1.0,1.0,-5.0,0.500000
105582,167693384,2017-07-07,11370510,16869999,10015933,2,1,1,1,US,1,0,1,0,1,1,1,0.0,0.0,0.0,0.0,0.200000
105583,245082573,2018-03-20,54112917,16900088,22084092,1,1,1,1,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.272727
105584,241804280,2018-03-10,74718649,16943178,113251277,0,0,0,0,DE,0,0,0,0,0,0,0,5.0,24.0,-4.0,-19.0,0.750000
105585,253501376,2018-04-14,3864544,17136721,41965551,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.666667
105586,267375266,2018-05-21,120939400,17136721,41965551,0,0,0,0,CH,0,0,0,0,0,0,0,6.0,23.0,-8.0,-12.0,0.666667
105587,248491868,2018-03-31,74718649,17796318,115857532,0,0,0,0,DE,0,0,0,0,0,0,0,5.0,24.0,-4.0,-19.0,0.666667
105588,193195421,2017-09-12,34665054,18543045,7130003,7,7,3,7,GB,1,1,1,1,0,0,0,5.0,2.0,-4.0,11.0,1.000000
105589,174050303,2017-07-24,31593950,18587138,17923252,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,1.000000
105590,173594732,2017-07-23,38040844,18961388,132226492,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.333333
105591,238917369,2018-02-27,74718649,19014865,132652913,0,0,0,0,DE,0,0,0,0,0,0,0,5.0,24.0,-4.0,-19.0,1.000000
105592,236161581,2018-02-18,101458050,19283124,51438023,7,4,2,3,US,1,1,1,1,1,1,1,0.0,0.0,0.0,0.0,0.500000
105593,199956512,2017-10-03,59716059,19713169,20053314,1,1,1,1,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,1.000000
105594,243638395,2018-03-16,152636894,19829390,140128474,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,0.500000
105595,243346575,2018-03-15,474461,19982436,33885502,0,0,0,0,GB,1,0,0,0,0,0,0,5.0,2.0,-4.0,11.0,0.500000
105596,221751067,2017-12-27,36478202,21183930,73773012,0,0,0,0,NL,0,0,0,0,0,0,0,2.0,11.0,48.0,-7.0,1.000000
105597,264993284,2018-05-15,140157607,22862412,11968600,0,0,0,0,US,1,0,0,0,1,1,1,0.0,0.0,0.0,0.0,1.000000
105598,267347294,2018-05-21,189991353,23743988,85572162,0,0,0,0,CA,1,0,0,0,0,1,1,1.0,11.0,10.0,-2.0,1.000000
105599,256795828,2018-04-23,17192806,24305330,160900745,0,0,0,0,FR,0,0,0,0,0,0,0,-28.0,20.0,19.0,-40.0,0.666667

In [70]:
results_table.to_csv("country_cultural_diff.csv")

# By Regions

In [72]:
reviews_match = results_table.copy()

In [73]:
satisfaction = pd.read_csv('../3/satisfaction_scores.csv', index_col=0)

In [76]:
reviews_match = reviews_match.join(satisfaction[['id', 'satisfaction']].set_index('id'), on='id')

In [77]:
profiles.print_country_table(reviews_match, guests, 'region')

    average  guest_count    region  review_count    stddev
0  0.681206        25245    Europe         26533  0.110511
1  0.669611        57257  Americas         64533  0.111642
2  0.664364         5531      Asia          5899  0.116227
3  0.669345          783    Africa           837  0.114803
4  0.683423         7438   Oceania          7796  0.111486
5  0.718636            1     Polar             2  0.004996

In [79]:
profiles.print_country_table_simple(reviews_match, guests, 'region', full_listings)

    average  guest_count     region  review_count    stddev
0  0.666828        36981       Same         41318  0.112835
1  0.672906        23532  Different         24701  0.115571

In [80]:
profiles.print_country_table_simple(reviews_match, guests, 'region', shared_listings)

    average  guest_count     region  review_count    stddev
0  0.674564        21244       Same         23215  0.109313
1  0.688117        15762  Different         16366  0.105188

In [81]:
profiles.print_country_table(reviews_match, guests, 'subregion')

     average  guest_count  review_count    stddev                  subregion
0   0.681281        10778         11340  0.110358             Western Europe
1   0.669179        52887         59926  0.111360           Northern America
2   0.676938         3243          3381  0.114108              South America
3   0.673279         3259          3380  0.118701            Southern Europe
4   0.684683         9826         10369  0.106888            Northern Europe
5   0.674214         1382          1444  0.116000             Eastern Europe
6   0.662641         2494          2654  0.114960               Eastern Asia
7   0.671204          852           914  0.117577            Central America
8   0.672115         1331          1423  0.116553               Western Asia
9   0.663358          433           469  0.118084              Southern Asia
10  0.670053          592           636  0.114324            Southern Africa
11  0.683528         7425          7783  0.111403  Australia and New Zealand
12  0.659391         1241          1321  0.117370         South-Eastern Asia
13  0.673005           66            67  0.128155            Northern Africa
14  0.632535            6             6  0.069064              Middle Africa
15  0.668471          275           312  0.117838                  Caribbean
16  0.673680           80            88  0.109698             Eastern Africa
17  0.682635           32            32  0.112811               Central Asia
18  0.593888            5             5  0.105003                  Melanesia
19  0.638573            4             4  0.170197                  Polynesia
20  0.647929           39            40  0.111975             Western Africa
21  0.635917            4             4  0.139668                 Micronesia
22  0.718636            1             2  0.004996                        NaN

In [82]:
profiles.print_country_table_simple(reviews_match, guests, 'subregion', full_listings)

    average  guest_count  review_count    stddev  subregion
0  0.666786        34464         38674  0.112425       Same
1  0.672377        26049         27345  0.115885  Different

In [83]:
profiles.print_country_table_simple(reviews_match, guests, 'subregion', shared_listings)

    average  guest_count  review_count    stddev  subregion
0  0.673533        19351         21252  0.109263       Same
1  0.687861        17655         18329  0.105630  Different