In [1]:
import pandas as p

In [4]:
file = open('newdump.sql', 'r') 
sq =  file.read()

In [5]:
import sqlite3 as lite
import sys

In [6]:
con = lite.connect('user.db')
c = con.cursor()

In [7]:
def executeScriptsFromFile(c, filename):
    # Open and read the file as a single buffer
    fd = open(filename, 'r')
    sqlFile = fd.read()
    fd.close()

    # all SQL commands (split on ';')
    sqlCommands = sqlFile.split(';\n')

    # Execute every command from the input file
    for command in sqlCommands:
        # This will skip and report errors
        # For example, if the tables do not yet exist, this will skip over
        # the DROP TABLE commands
        try:
            c.execute(command)
        except lite.OperationalError as msg:
            print ("Command skipped: ", msg)

In [3]:
executeScriptsFromFile(c, 'newdump.sql')

NameError: name 'c' is not defined

In [ ]:
result = c.execute("SELECT * FROM %s;" % table);

In [5]:
a = p.read_sql(sq)

TypeError: read_sql() missing 1 required positional argument: 'con'

In [1]:
import mysql.connector as sql
import pandas as pd

In [2]:
db_connection = sql.connect(host='localhost', database='airbnb2', user='root', password="w0r1dBoy2018", auth_plugin='mysql_native_password')

In [3]:
df = pd.read_sql('SELECT * FROM guest', con=db_connection)

DatabaseError: Execution failed on sql 'SELECT * FROM guest': 1146 (42S02): Table 'airbnb2.guest' doesn't exist

In [9]:
df.head()

,idGuest,id,first_name,has_profile_pic,created_at,identity_verified,location,school,work,reviewee_count,friends_count,about,neighborhood,show_travel_for_work,verification_labels,recommendation_count,response_rate,response_time
0,1,1306007,"""Grant""",true,"""2011-10-18T11:57:49Z""",true,"""Destin",null,null,7,0,"""Sailing scientist.""",null,false,null,0,null,null
1,2,3465808,"""Moshe""",true,"""2012-09-04T08:39:08Z""",false,"""Tel Aviv",null,null,1,0,"""Hi",null,false,null,0,null,null
2,3,672239,"""Christine""",false,"""2011-06-06T23:50:46Z""",false,null,null,null,0,0,"""""",null,false,null,0,null,null
3,4,363885,"""Fstatlzpsuy""",false,"""2011-01-26T23:54:54Z""",false,null,null,null,0,0,"""""",null,false,null,0,null,null
4,5,4124430,"""Sharon""",false,"""2012-11-12T04:46:47Z""",false,null,null,null,0,0,"""""",null,false,null,0,null,null